@import url(./__link/cards__link.css);
@import url(./__text/cards__text.css);
@import url(./__title/card__title.css);
@import url(./__image/card__image.css);
@import url(./__block/card__block.css);
@import url(./__main/card__main.css);
@import url(./__header/card__header.css);

.cards{
    max-width: 984px;
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;
}
.cards:nth-child(5){
    margin-bottom: 0;
}

@media screen and (max-width:1024px){
    .cards{
        max-width: 928px;
        margin-bottom: 83px;
    }
    .cards:nth-child(5){
        margin-bottom: 0;
    }
}

@media screen and (max-width:768px){
    .cards{
        max-width: 720px;
        margin-bottom: 81px;
    }
    .cards:nth-child(5){
        margin-bottom: 0;
    }
}

@media screen and (max-width:375px){
    .cards{
        max-width: 375px;
        margin-bottom: 24px;
    }
}

@media screen and (max-width:320px){
    .cards{
        max-width: 320px;
        margin-bottom: 24px;
    }
}