@import url(./__column/comments__column.css);
@import url(./__columns/comments__columns.css);

.comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1184px;
    margin: 0 auto;
}


@media screen and (max-width:1025px){
    .comments{
        max-width: 928px;
    }
    
}

@media screen and (max-width:768px){
    .comments{
        max-width: 660px;
    }
}

@media screen and (max-width:375px){
    .comments{
        max-width: 343px;
    }
}

@media screen and (max-width:320px){
    .comments{
        max-width: 288px;
    }
}