@import url(./header__lang_checkbox/header__lang_checkbox.css);

.header__lang{
    display: inline-block;
    list-style: none;
    color: #fff;
}

@media screen and (max-width:375px){
    .header__lang_checkbox{
        font-size: 18px;
        line-height: 17px;
    }
}