.card__link{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    text-decoration: none;
    color: #fff;
    text-decoration: underline;
}

.card__link:hover{
    opacity: 0.8;
}