@import url(./_activity/header__checkbox_activity.css);

.header__checkbox{
    margin-top: 17px;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    text-align: right;
    text-decoration: none;
    color: #fff;
}

.header__checkbox:hover{
    opacity: 0.8;
}

@media screen and (max-width:320px){
    .header__checkbox{
        font-size: 18px;
        line-height: 24px;
    }
}


