@import url(./__langs/header__langs.css);
@import url(./__logo/header__logo.css);
@import url(./__checkbox/header__checkbox.css);
@import url(./__lang/header__lang.css);
@import url(./__checkbox/_underline/header__checkbox_underline.css);


.header{
    max-width: 1184px;
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 30px;
    background-color:  #1F1F1F;
}

@media screen and (max-width:1025px){
    .header{
        max-width: 90%;
        padding-left: 0;
        padding-right: 0;
    }  
}



