.header__cap{
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

@media screen and (max-width:1025px){
    .header__cap{
        max-width: 928px;
    }  
}

@media screen and (max-width:768px){
    .header__cap{
        max-width: 720px;
    }  
}

@media screen and (max-width:375px){
    .header__cap{
        max-width: 343px;
    } 
}

@media screen and (max-width:320px){
    .header__cap{
        max-width: 288px;
    } 
}