@media screen and (max-width:768px){
    .video__item_title_observatory{
        margin-bottom: 2px;
    }
}

@media screen and (max-width:375px){
    .video__item_title_observatory{
        margin-bottom: 3px;
    }
}

@media screen and (max-width:320px){
    .video__item_title_observatory{
        margin-bottom: 4px;
    }
}