@import url(./_foto/lead__image_foto.css);
@import url(./_text/lead__image_text.css);

.lead__image{
    max-width: 984px;
    margin-top: 78px;
}

@media screen and (max-width:1025px){
    .lead__image{
        max-width: 928px;
    }
}

@media screen and (max-width:768px){
    .lead__image{
        max-width: 768px;
    }
}

@media screen and (max-width:375px){
    .lead__image{
        max-width: 375px;
        margin-top: 31px;
    }
}

@media screen and (max-width:320px){
    .lead__image{
        max-width: 288px;
        margin-top: 32px;
    }
}