@import url(./__block/intro__block.css);
@import url(./__content-row/intro__content-row.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);
@import url(./__text-numbers/intro__text-numbers.css);

.intro{
    max-width: 984px;
    color: #fff;
    margin: 0 auto;
}

@media screen and (max-width:1025px){
    .intro{
        max-width: 90%;
    }
}

@media screen and (max-width:768px){
    .intro{
        max-width: 93.75%;
    }
}

@media screen and (max-width:375px){
    .intro{
        max-width: 91.5%;
    }
}

@media screen and (max-width:320px){
    .intro{
        max-width: 0.9%;
    }
}