@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover{
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./../../images/sunset.png);
    background-size: cover;
    position: relative;
    color: #fff;
    margin: 92px auto;
    text-align: center; 
}




@media screen and (max-width:1024px){
    .cover{
        max-width: 1024px;
    }  
}

@media screen and (max-width:768px){
    .cover{
        margin: 88px auto;
        max-width: 768px;
    }  
}

@media screen and (max-width:375px){
    .cover{
        max-width: 375px;
        margin: 64px auto;
    }  
}
