.cover__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./../../../images/sunset.png);
    background-size: cover;
    color: #fff;
    position: relative;
    margin: 92px auto;
    text-align: center; 
    text-decoration: none;
  }

  .cover__overlay::before{
    width: 100%;
    height: 100%;
    background: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    z-index: 1;
    content: "";
}

.cover__overlay:hover::before{
    opacity: 0.8;
    content: "";
}
  
