@import url(./__image/column__image.css);
@import url(./__text/column__text.css);
@import url(./__text/_author/column__text_author.css);

.column{
    width: calc((100% - 38px)/3);
    margin-top: 71px;
}

@media screen and (max-width:768px){
    .column{
        width: 382px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .column:nth-child(2){
        margin-top: 47px;
        margin-bottom: 47px;
    }
}

@media screen and (max-width:375px){
    .column{
        width: 343px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .column:nth-child(2){
        margin-top: 47px;
        margin-bottom: 47px;
    }
}

@media screen and (max-width:320px){
    .column{
        width: 288px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .column:nth-child(2){
        margin-top: 47px;
        margin-bottom: 47px;
    }
}