
.card__block{
    width: 484px;
}

@media screen and (max-width:1024px){
    .card__block{
        max-width: 456px;
    }
}

@media screen and (max-width:975px){
    .card__block{
        max-width: 50%;
    }
}

@media screen and (max-width:768px){
    .card__block{
        max-width: 50%;
    }
}

@media screen and (max-width:720px){
    .card__block{
        display: none;
    }
}
