@import url(./__link/card__link.css);
@import url(./__text/card__text.css);
@import url(./__title/card__title.css);
@import url(./__image/card__image.css);
@import url(./__block/card__block.css);
@import url(./__main/card__main.css);
@import url(./__header/card__header.css);
@import url(./__link-url/card__link-url.css);
@import url(./__block-text/card__block-text.css);

.card{
    max-width: 984px;
    display: grid;
    grid-template-columns: fit-content(460px) 1fr;
    grid-template-rows: auto auto;
    grid-gap: 40px;
    margin-bottom: 72px;
}
.card:nth-last-child(1){
    margin-bottom: 0;
}

@media screen and (max-width:1024px){
    .card{
        max-width: 928px;
        margin-bottom: 83px;
        grid-template-columns: fit-content(440px) 1fr;
        grid-gap: 32px;
    }
}

@media screen and (max-width:768px){
    .card{
        max-width: 720px;
        margin-bottom: 81px;
        grid-template-columns: fit-content(340px) 1fr;
        grid-gap: 28px;
    }
}

@media screen and (max-width:720px){
    .card{
        max-width: 720px;
        margin-bottom: 81px;
        grid-template-columns: fit-content(720px);
        margin: 0 auto 81px;
        grid-gap: 32px;
    }
}

@media screen and (max-width:375px){
    .card{
        max-width: 375px;
        margin: 0 0 81px;
    }
}

@media screen and (max-width:320px){
    .card{
        max-width: 320px;
    }
}
