@import url(./__link/card__link.css);
@import url(./__text/card__text.css);
@import url(./__title/card__title.css);
@import url(./__image/card__image.css);
@import url(./__block/card__block.css);
@import url(./__main/card__main.css);
@import url(./__header/card__header.css);
@import url(./__link-url/card__link-url.css);
@import url(./__block-text/card__block-text.css);

.card{
    max-width: 984px;
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;
}
.card:nth-last-child(1){
    margin-bottom: 0;
}

@media screen and (max-width:1024px){
    .card{
        max-width: 928px;
        margin-bottom: 83px;
    }
    .card:nth-child(5){
        margin-bottom: 0;
    }
}

@media screen and (max-width:768px){
    .card{
        max-width: 720px;
        margin-bottom: 81px;
    }
    .card:nth-child(5){
        margin-bottom: 0;
    }
}

@media screen and (max-width:375px){
    .card{
        max-width: 375px;
        margin-bottom: 24px;
    }
}

@media screen and (max-width:320px){
    .card{
        max-width: 320px;
    }
}