@media screen and (max-width:768px){
    .video__item_time_observatory{
        margin-top: 17px;
    }
}

@media screen and (max-width:375px){
    .video__item_time_observatory{
        margin-top: 17px;
    }
}

@media screen and (max-width:320px){
    .video__item_time_observatory{
        margin-top: 23px;
    }
}